<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals="false" 
    backupStaticAttributes="false" 
    colors="true"
    bootstrap="tests/Bootstrap.php"
    verbose="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestSize="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTodoAnnotatedTests="true"
    forceCoversAnnotation="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false">
    <testsuites>
        <testsuite name="Alder Public Authentication Unit Tests">
            <directory>tests/Alder/unit</directory>
            <exclude>
                <directory>vendors</directory>
            </exclude>
        </testsuite>
        <testsuite name="Alder Public Authentication Integration Tests">
            <directory>tests/Alder/functional</directory>
            <exclude>
                <directory>vendors</directory>
            </exclude>
        </testsuite>
    </testsuites>
    <filter>
      <whitelist
          addUncoveredFilesFromWhitelist="true"
          processUncoveredFilesFromWhitelist="true">
          <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
