.install-breadcrumb {
    font-size: 1.4em;
}
.install-breadcrumb:hover {
    cursor: default;
}
.install-breadcrumb > li {
    color: #777;
}
.install-breadcrumb > li.current {
    color: #337ab7;
}

.panel-heading {
    font-size: 2em;
}
.panel-heading > p {
    margin: 0;
}

.configuration-options .pager {
    margin: 0;
}
