.install-breadcrumb {
    font-size: 1.4em;
}
.install-breadcrumb:hover {
    cursor: default;
}
.install-breadcrumb > .complete {
    color: #469846;
}
.install-breadcrumb > .current {
    color: #e58e13;
}
.install-breadcrumb > .incomplete {
    color: #d85727;
}

.panel-heading {
    font-size: 2em;
}
.panel-heading > p {
    margin: 0;
}

.configuration-options .pager {
    margin: 0;
}
