body {
    font-family: "Fantasque Sans Mono", "Droid Sans Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input::-moz-focus-inner {
    border: 0;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
a, a:active, a:focus, 
button, button:focus, button:active, 
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline: 0;
}

.navbar-header {
    float: left;
}
.navbar-brand {
    font-size: 2.0em;
    line-height: 20px;
    margin-left: 5px;
}
.navbar-brand:hover {
    cursor: default;
}
.navbar-top-links {
    float: right;
}
.navbar-default {
    background-color: transparent;
}
.navbar-default .navbar-brand {
    color: #5e5e5e;
}
.sidebar-burger-button {
    float: left;
    margin-left: 15px;
}
.sidebar-burger-button > button.navbar-toggle:focus {
    background-color: inherit;
}
.sidebar-burger-button > button.navbar-toggle:hover {
    background-color: #ddd;
}
.sidebar {
    margin-top: 51px;
}
#side-menu > li {
    font-size: 1.1em;
}
.sidebar .fa.arrow::before {
    content: "\f105";
}
.sidebar-nav > .nav > li > a:focus {
    text-decoration: none;
    background-color: inherit;
    color: #337ab7;
}
.sidebar-nav > .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
    color: #23527c;
}
.sidebar-nav > .nav > li.disabled > a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #777;
}
.sidebar-nav > .nav > li.disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #777;
}
.sidebar-nav > .nav > li > a.focused {
    text-decoration: none;
    background-color: #eee;
    color: #23527c;
}
.sidebar .nav-second-level li a {
    padding: 5px 15px 5px 37px;
    font-size: 0.92em;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e;
}
.panel-red .panel-heading {
    border-color: #d9534f;
    color: white;
    background-color: #d9534f;
}
.panel-green .panel-heading {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
}
.panel-yellow > a:hover > .panel-heading {
    border-color: #df8a13;
    color: white;
    background-color: #df8a13;
}
.panel-red > a:hover > .panel-heading {
    border-color: #b52b27;
    color: white;
    background-color: #b52b27;
}
.panel-green > a:hover > .panel-heading {
    border-color: #3d8b3d;
    color: white;
    background-color: #3d8b3d;
}


.large {
    font-size: 30px;
}
.big {
    font-size: 26px;
}

.sidebar ul li.disabled a {
    background-color: transparent;
}

.modal-body {
    font-size: 1.1em;
}
