<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals="false" 
    backupStaticAttributes="false" 
    colors="true"
    bootstrap="tests/index.php"
    verbose="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestSize="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTodoAnnotatedTests="true"
    forceCoversAnnotation="true">
    <testsuites>
        <testsuite name="Alder Public Authentication Unit Tests">
            <directory>tests/Alder_Public_Authentication/unit</directory>
        </testsuite>
        <testsuite name="Alder Public Authentication Unit Integration Tests">
            <directory>tests/Alder_Public_Authentication/functional</directory>
        </testsuite>
    </testsuites>
    <filter>
      <whitelist
          addUncoveredFilesFromWhitelist="true"
          processUncoveredFilesFromWhitelist="true">
          <directory suffix=".php">modules/</directory>
          <exclude>
              <directory suffix=".php">modules/Alder_Public_Authentication/config/</directory>
          </exclude>
        </whitelist>
    </filter>
</phpunit>
